name: tovi
description: "This package provides a single class for formatting user input in a text field in Dart/Flutter applications"
version: 1.0.0+1
license: MIT

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
